<!doctype html>
<head>
    {{template "partials/head" .}}
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
</head>

<body>
{{template "partials/header" .}}

<h2>Такс, твой торрент: {{.TorrentName}}</h2>

<div>
    <p>Файлики:</p>
    <ul>
        {{range $file := .TorrentFiles}}
        <li> {{ $file.Path }}
            {{ if $file.Completed }} 🟢
                <a href="/torrents/{{ $.TorrentInfoHash }}/files/{{ $file.PathHash }}/download"> скачать </a>
                {{ if FileIsVideo $file }}
                    {{ range $streamName := FileAudioStreamsNames $file }}
                        <a href="/torrents/{{ $.TorrentInfoHash }}/files/{{ $file.PathHash }}/streams/{{ $streamName }}/watch"> {{ $streamName }} </a>
                    {{ end }}
                {{ end }}
                {{ if FileIsVideo $file }}
                    <a href="/torrents/{{ $.TorrentInfoHash }}/files/{{ $file.PathHash }}/hls"> HLS </a>
                {{ end }}
            {{ else }} 🔴 {{ end }}
            {{ SizeRepr $file.Size }}
        </li>
        {{end}}
    </ul>
</div>

{{template "partials/footer" .}}
</body>